<h1>File Upload</h1>

<p>
  Upload a file to Cloudinary!
</p>

<form action="/" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="myFile">File Upload:</label>
    <input type="file" name="myFile" id="myFile" />
  </div>
  <input type="submit" class="btn btn-success" value="Do it now" />
</form>
